# For

* For adalah fungsi yang dapat melakukan perulangan pada sestiap jenis variable berupa kumpalan atau urutan
* Variable yang dimaksud bisa berupa list, string, ataupun range
* Jika sebuah list atau urutan berisi expression, maka ia akan dievaluasi terlebih dahulu
* Kemudian item pertama pada urutan/list akan diassign sebagai variabel iterating_var
* Setelahnya, blok statement akan dieksekusi, berlanjut ke item berikutnya, berulang, hingga seluruh urutan habis

In [1]:
for i in 'data':
    print("huruf {}". format(i))

huruf d
huruf a
huruf t
huruf a

In [2]:
for a in 'data':
    print(a)

d
a
t
a

In [3]:
color = ['merah', 'kuning', 'hijau']

for i in color:
    print("warna {}". format(i))

warna merah
warna kuning
warna hijau

In [4]:
for i in range(3):
    print(i)

0
1
2

In [5]:
for i in range(1,4):
    print(i)

1
2
3

For bertingkat

In [12]:
for row in range(3):
    for col in range(3):
        if row == 0 and col <= 2:
            print("*", end = " ")
        elif row == 1 and col <= 1:
            print("*", end = " ")
        elif row == 2 and col <= 0:
            print("*", end = " ")
    print()

* * *
* *
*

--Task 2--
- for loop
- string
- list

In [7]:
for i in 'analyst':
    print(i)

a
n
a
l
y
s
t

In [8]:
daftar_angka = [1, 2, 3, 4, 5, 6, 7]

for i in daftar_angka:
    print("angka {}". format(i))

angka 1
angka 2
angka 3
angka 4
angka 5
angka 6
angka 7

In [9]:
for i in range(5):
    print("Perulangan ke-", i+1)

Perulangan ke- 1
Perulangan ke- 2
Perulangan ke- 3
Perulangan ke- 4
Perulangan ke- 5

--Task 3--
- for loop
- range 1 param
- range 2 param

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(16,21):
    print(i)

16
17
18
19
20

--Task 4--
- for loop bertingkat
- outnya serupa gambar

In [14]:
for row in range(4):
    for col in range(4):
        if row == 0 and col <= 3:
            print("*", end = " ")
        elif row == 1 and col <= 2:
            print("*", end = " ")
        elif row == 2 and col <= 1:
            print("*", end = " ")
        elif row == 3 and col <= 0:
            print("*", end = " ")
    print()

* * * *
* * *
* *
*