Tipe data bawaan yang ada di Python 3 
1. Numbers
2. String
3. Boolean

1. Number Tipe Numerik pada Python dibagi menjadi 3 : int, float, complex

Yang membedakan integer dan float adalah titik (decimal points

In [1]:
a = 10

In [2]:
type(a)

int

In [3]:
b = 1.7

In [4]:
type (b)

float

Task 1 : Buat tipe data Integer dan Float

In [5]:
x = 5
type(x)

int

In [6]:
y = 5.2
type(y)

float

Karena Python banyak digunakan juga oleh matematikawan, tipe bilangan di Python juga mendukung bilangan imajiner dan bilangan kompleks. Nilai bilangan kompleks (complex) dituliskan dalam formulasi x+y yakni bagian x adalah bilangan real dan y adalah bilangan imajiner

In [7]:
c = 1+2j
type(c)

complex

In [8]:
z = 5+5.2j
type(z)

complex

In [9]:
a = "Hello World!"
print(a)
type(a)

Hello World!

str

In [10]:
a = 'Hello World!'
print(a)
type(a)

Hello World!

str

In [14]:
a = """Bootcamp Data Science.
kampus Merdeka x MyEduSolve.
Kelas D"""

b = "Bootcamp Data Science. \nKampus Merdeka x MyEduSolve. \nKelas D"

print(a)

print(b)

Bootcamp Data Science.
kampus Merdeka x MyEduSolve.
Kelas D
Bootcamp Data Science.
Kampus Merdeka x MyEduSolve.
Kelas D

In [15]:
a = 'Hai! Kami adalah kelompok 5 kelas D Pathway Data Analyst.'
print(a)

Hai! Kami adalah kelompok 5 kelas D Pathway Data Analyst.

In [16]:
b = """Hai! Kami adalah kelompok 5 kelas D Pathway Data Analyst.
Beranggotakan Nirmala, Novan, Ardi, dan Renata.
Kami berasal dari program studi yang berbeda.
Namun, kami memilih pathway yang sama di MyEduSolve yaitu Data Analyst."""
print(b)

Hai! Kami adalah kelompok 5 kelas D Pathway Data Analyst.
Beranggotakan Nirmala, Novan, Ardi, dan Renata.
Kami berasal dari program studi yang berbeda.
Namun, kami memilih pathway yang sama di MyEduSolve yaitu Data Analyst.

In [18]:
c = "Hai! Kami adalah kelompok 5 kelas D Pathway Data Analyst. \nBeranggotakan Nirmala, Novan, Ardi, dan Renata. \nKami berasal dari program studi yang berbeda. \nNamun, kami memilih pathway yang sama di MyEduSolve yaitu Data Analyst."
print(c)

Hai! Kami adalah kelompok 5 kelas D Pathway Data Analyst.
Beranggotakan Nirmala, Novan, Ardi, dan Renata.
Kami berasal dari program studi yang berbeda.
Namun, kami memilih pathway yang sama di MyEduSolve yaitu Data Analyst.

In [23]:
print("Jum'at")

Jum'at

Bool/Boolean : Tipe data bool atau boolean merupakan turunan dari bilangan bulat (integer atau int) yang hanya punya dua nilai konstanta : True dan False

In [19]:
2 > 5

False

In [20]:
3 == 5

False

In [21]:
2 <= 2

True

In [22]:
2 != 3

True