# Set

Set is a collection of items that are unique and without order (unordered collection). It is defined by curly braces and its elements are separated by commas. In Set we can perform unions and intersections, as well as automatically delete them

In [9]:
a = {3,3,3,4,4,4,4,5,5,5,5,5}

In [10]:
print(a)

{3, 4, 5}

Because sets are unordered, we cannot retrieve some of the data/data elements using the slicing process

In [11]:
print(a[1])

TypeError: 'set' object is not subscriptable

Union

In [1]:
a = {1,2,3}

In [2]:
b = {2,3,4,5}

In [3]:
a.union(b)

{1, 2, 3, 4, 5}

intersection

In [4]:
a.intersection(b)

{2, 3}

Task 1

In [5]:
#tinggi badan siswa kelas A
klsA = {150,155,157, 160, 162}
print(klsA)

{160, 162, 150, 155, 157}

In [6]:
#tinggi badan siswa kelas B
klsB = {150, 152, 156, 158, 160, 160}
print(klsB)

{160, 150, 152, 156, 158}

In [7]:
klsA.union(klsB)

{150, 152, 155, 156, 157, 158, 160, 162}

In [8]:
klsA.intersection(klsB)

{150, 160}

Dictionary

In [16]:
a = {"nama" : "Nam Do San", "usia" : 25}

In [17]:
type(a)

dict

In [18]:
a["nama"]

'Nam Do San'

In a dictionary, a value can only be called using the key, so if it is called using the value of the item in the key, the code will error as below.

In [19]:
a["Nam Do San"]

KeyError: 'Nam Do San'

In [20]:
a["usia"]

25

Dictionaries are not included in the implementation of sequences so they cannot be called with index sequences. For example, in the following example it is tried with index 0, but it produces an error (KeyError) because there is no key (key) 0.

Task 2

In [26]:
#dengan Tuple
r = {"kelompok" : 5, "nama" : ("Ardi", "Nirmala", "Novan", "Renata"), "pathway" : "Data Analyst"}

In [34]:
#dengan List
r = {"kelompok" : 5, "nama" : ["Ardi", "Nirmala", "Novan", "Renata"], "pathway" : "Data Analyst"}

In [35]:
print(r)

{'kelompok': 5, 'nama': ['Ardi', 'Nirmala', 'Novan', 'Renata'], 'pathway': 'Data Analyst'}

In [36]:
r["nama"]

['Ardi', 'Nirmala', 'Novan', 'Renata']

In [44]:
r["nama"][3]

'Renata'

In [ ]:
Conditional Expressions

- Di Python, expression diletakkan setelah if, dan keputuan ditentukan berdasarkan nilai kebenaran dari expression tersebut
- Jika expression dievaluasi sebagai Tru, maka blok statement di dalam if statement akan dieksekuasi
-  Sesuai konversi, blok ini memiliki indentasi masuk setelah tanda titik dua (:)
- Jika expression dievaluasi sebagai false, maka block selanjutnya (setelah statement If) yang akan dijalankan

In [46]:
namaku = "Ko Yu Rim"

if namaku:
    print("Benar namaku {}".format(namaku))

Benar namaku Ko Yu Rim

In [47]:
usiaku = 24

if namaku:
    print("Umur saya adalah {}".format(usiaku))

Umur saya adalah 24

Task 3

In [49]:
warna_favorit = "Biru"

if warna_favorit:
    print("Benar, warna favoritku adalah {}".format(warna_favorit))

Benar, warna favoritku adalah Biru

Task 4

In [53]:
keterangan = input("Apakah Anda sedang menerima beasiswa saat ini? (Ya/Tidak)")

if keterangan == "Ya":
    print("Anda tidak dapat mengajukan beasiswa lagi.")
else : 
    print("Anda dapat mengajukan beasiswa.")

Apakah Anda sedang menerima beasiswa saat ini? (Ya/Tidak)Tidak
Anda dapat mengajukan beasiswa.